﻿@using System.Data
@Model DataTable

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
@{
    ViewBag.Title = "inscmp";

}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Company details</title>
</head>
<body>

    <h2>Company details</h2>
    @Html.ActionLink("back to list", "viewcmp")
    @using (Html.BeginForm("sss", "Reassure", FormMethod.Post))
    {
        <table>
            <tr>
                <th>company name</th>
                <th><input type="text" class="alpha"  id="company_name" name="company_name" /></th>
            </tr>
            <tr>
                <th>contact number</th>
                <th><input type="text" class="mob" id="contact_num" name="contact_num" /></th>

            </tr>
            <tr>
                <th>person name</th>
                <th><input type="text" class="alpha" id="person_name" name="person_name" /></th>

            </tr>
            <tr>
                <th> location</th>
                <th><input type="text" id="location" name="location" /></th>
            </tr>
            <tr>
                <th> login logo</th>
                <th><input type="text" id="login-logo" name="login_logo" /></th>
            </tr>
            <tr>
                <th> dashboard logo</th>
                <th><input type="text" id="dashboard_logo" name="dashboard_logo" /></th>
            </tr>
            <tr>
                <th> begin date</th>
                <th><input type="text" id="begin_date" name="begin_date" /></th>
            </tr>
            <tr>
                <th> end date</th>
                <th><input type="text" id="end_date" name="end_date" /></th>
            </tr>
            <tr>
                <th> active</th>
                <th><input type="text" id="active" name="active_" /></th>
            </tr>



            <tr>
                <th>

                </th>
                <th>
                    <input type="submit" value="save" />
                </th>
            </tr>
        </table>
    }
</body>
</html>










