﻿@model IEnumerable<jindal.Models.empdetailsclass>
@Model DataTable
@using System.Data

@{
    ViewBag.Title = "Add Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>insempdetails</title>
    <script src="~/Scripts/java.js"></script>
</head>
<body>

    
    @Html.ActionLink("back to list", "viewempdetails")
    @using (Html.BeginForm("ppp", "Reassure", FormMethod.Post))
    {
        <table>
            <tr>
                <th>employe name</th>
                <th><input type="text" class="alpha" id="employe_name" name="employe_name" /></th>
            </tr>
            <tr>
                <th>employe department</th>
                <th><input type="text" class="alpha" id="employe_department" name="employe_department" /></th>

            </tr>
            <tr>
                <th>company id</th>
                <th><input type="text" class="alphanum"  id="company_id" name="company_id" /></th>

            </tr>
            <tr>
                <th> employe designation</th>
                <th><input type="text" class="alpha" id="employe_designation" name="employe_designation" /></th>
            </tr>
            <tr>
                <th> begin date</th>
                <th><input type="text" id="begin_date" name="begin_date" /></th>
            </tr>
            <tr>
                <th> end date</th>
                <th><input type="text" id="end_date" name="end_date" /></th>
            </tr>
            <tr>
                <th> employe tagid</th>
                <th><input type="text" class="alphanum"id="employe_tagid" name="employe_tagid" /></th>
            </tr>
            <tr>
                <th> employe type</th>
                <th><input type="text" class="alpna"id="employe_type" name="employe_type" /></th>
            </tr>
            <tr>
                <th> employe role</th>
                <th><input type="text" class="alpha" id="employe_role" name="employe_role" /></th>
            </tr>

            <tr>
                <th> contact number</th>
                <th><input type="text"  class="mob"id="contact_number" name="contact_number" /></th>
            </tr>
            <tr>
                <th> active</th>
                <th><input type="text" id="active" name="active" /></th>
            </tr>


            <tr>
                <th>

                </th>
                <th>
                    <input type="submit" value="save" />
                </th>
            </tr>
        </table>
    }
</body>
</html>
