﻿@model IEnumerable<jindal.Models.emptypeclass>
@Model DataTable
@using System.Data


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>insemptype</title>
    <script src="~/Scripts/java.js"></script>
</head>
<body>
    <h2>insemptype details</h2>
    @Html.ActionLink("back to list", "viewemptype")
    @using (Html.BeginForm("nnn", "Reassure", FormMethod.Post))
    {
        <table>
            <tr>
                <th>emp type</th>
                <th><input type="text" class="alpha" id="emp_type" name="emp_type" /></th>
            </tr>
            <tr>
                <th>company id</th>
                <th><input type="text" class="alphanum" id="company_id" name="company_id" /></th>

            </tr>
            <tr>
                <th>active</th>
                <th><input type="text" id="active" name="active" /></th>

            </tr>


            <tr>
                <th>

                </th>
                <th>
                    <input type="submit" value="save" />
                </th>
            </tr>
        </table>
    }

</body>
</html>
