﻿@model IEnumerable<jindal.Models.rfiddetails>
@using System.Data
@Model DataTable

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>insrfid</title>
    <script src="~/Scripts/java.js"></script>
</head>
<body>

    <h2>inserting rfid details</h2>
    @Html.ActionLink("back to list", "viewrfid")
    @using (Html.BeginForm("ccc", "Reassure", FormMethod.Post))
    {
        <table>
            <tr>
                <th>company id</th>
                <th><input type="text" id="company_id" name="company_id" /></th>
            </tr>
            <tr>
                <th>rfid_tagid</th>
                <th><input type="text" class="alphanum" id="rfid_tagid" name="rfid_tagid" /></th>

            </tr>
            <tr>
                <th>rfid issue date</th>
                <th><input type="text" id="rfid_issue_date" name="rfid_issue_date" /></th>

            </tr>
            <tr>
                <th> rfid start date</th>
                <th><input type="text" id="rfid_start_date" name="rfid_start_date" /></th>
            </tr>
            <tr>
                <th> rfid assaigned type</th>
                <th><input type="text" class="alphanum" id="rfid_assaigned_type" name="rfid_assaigned_type" /></th>
            </tr>
            <tr>
                <th> rfid assaigned id</th>
                <th><input type="text" class="integer"id="rfid_assaigned_id" name="rfid_assaigned_id" /></th>
            </tr>
            <tr>
                <th> rfid issued by</th>
                <th><input type="text" id="rfid_issued_by" name="rfid_issued_by" /></th>
            </tr>

            <tr>
                <th> active</th>
                <th><input type="text" id="active" name="active" /></th>
            </tr>



            <tr>
                <th>

                </th>
                <th>
                    <input type="submit" value="save" />
                </th>
            </tr>
        </table>
    }




</body>
</html>
