﻿@{
                /**/

                Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Login</title>
    <link href="~/Content/login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/login/all.min.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/Content/login/sb-admin.css" rel="stylesheet" />


</head>

<body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "REASSURE", FormMethod.Post))
                {

                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" name="username" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                            <label for="inputEmail">Email address</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="required">
                            <label for="inputPassword">Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me">
                                Remember Password
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Login" />

                }
                <div class="text-center">
                    <a class="d-block small mt-3" href="register.html">Register an Account</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/login/jquery.min.js"></script>

    <script src="~/Content/login/bootstrap.bundle.min.js"></script>
    <script src="~/Content/login/jquery.easing.min.js"></script>
</body>

</html>