﻿@model IEnumerable<jindal.Models.empdetailsclass>

@{
    ViewBag.Title = "Add Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewempdetails</title>
</head>
<body>
   

    <div style="margin-top:50px;">
        <a href="../Reassure/insempdetails">create new</a>
        <table>
            <thead>
                <tr>
                    <th>employe_name</th>
                    <th>employe_department</th>
                    <th>company_id</th>
                    <th>employe_designation</th>
                    <th>begin_date</th>
                    <th>end_date</th>
                    <th>employe_tagid</th>
                    <th>employe_type</th>
                    <th>employe_role</th>
                    <th>contact_number</th>
                    <th>active</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kkk in Model)
                {
                    <tr>

                        <td>@kkk.employe_name</td>
                        <td>@kkk.employe_department</td>
                        <td>@kkk.company_id</td>
                        <td>@kkk.employe_designation</td>
                        <td>@kkk.begin_date</td>
                        <td>@kkk.end_date</td>
                        <td>@kkk.employe_tagid</td>
                        <td>@kkk.employe_type</td>
                        <td>@kkk.employe_role</td>
                        <td>@kkk.contact_number</td>
                        <td>@kkk.active</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>


</html>
