﻿@model IEnumerable<jindal.Models.designationclass>
@using System.Data
@Model DataTable


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewdesignation</title>
</head>
<body>

    <div>
        <table>
            <thead>
                <tr>

                    <th>company_id</th>
                    <th>department_id</th>
                    <th>designation_type</th>
                    <th>active</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var jjj in Model)
                {
                    <tr>

                        <td>@jjj.company_id</td>
                        <td>@jjj.department_id</td>
                        <td>@jjj.designation_type</td>

                        <td>@jjj.active</td>

                    </tr>
                }
                @using (Html.BeginForm("mmm", "Reassure", FormMethod.Post))
                {
                    <table>
                        <tr>
                            <th>company id</th>
                            <th><input type="text"  id="company_id" name="company_id" /></th>
                        </tr>
                        <tr>
                            <th>department id</th>
                            <th><input type="text" class="alphanum"id="department_id" name="department_id" /></th>

                        </tr>
                        <tr>
                            <th>designation type</th>
                            <th><input type="text" class="alpha" id="designation_type" name="designation_type" /></th>
                        </tr>

                        <tr>
                            <th>active</th>
                            <th><input type="text" id="active" name="active" /></th>

                        </tr>


                        <tr>
                            <th>

                            </th>
                            <th>
                                <input type="submit" value="save" />
                            </th>
                        </tr>
                    </table>

                </tbody>
            </table>
        </div>

    </body>
</html>
