﻿
@model IEnumerable<jindal.Models.Class1>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Company details</title>
</head>
<body>

    <h2>Company Details</h2>
    <a href="../Reassure/inscmp">create new</a>


    <div>
        <table>
            <thead>
                <tr>
                    <th>company_name</th>
                    <th>contact_num</th>
                    <th>person_name</th>
                    <th>location</th>
                    <th>login_logo</th>
                    <th>dashboard_logo</th>
                    <th>begin_date</th>
                    <th>end_date</th>
                    <th>active</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fff in Model)
                {
                <tr>

                    <td>@fff.company_name</td>
                    <td>@fff.contact_num</td>
                    <td>@fff.person_name</td>
                    <td>@fff.location</td>
                    <td>@fff.login_logo</td>
                    <td>@fff.dashboard_logo</td>
                    <td>@fff.begin_date</td>
                    <td>@fff.end_date</td>
                    <td>@fff.active</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
