﻿@model IEnumerable<jindal.Models.enrollclass>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewenrollement</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>gate_name</th>
                    <th>gate_purpose</th>
                    <th>gate_reader_id</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var lll in Model)
                {
                    <tr>

                        <td>@lll.gate_name</td>
                        <td>@lll.gate_purpose</td>
                        <td>@lll.gate_reader_id</td>

                    </tr>
                }
                @using (Html.BeginForm("bbb", "Reassure", FormMethod.Post))
                {
                    <table>
                        <tr>
                            <th>gate id</th>
                            <th><input type="text" class="integer" id="gate_id" name="gate_id" /></th>
                        </tr>
                        <tr>
                            <th>gate purpose</th>
                            <th><input type="text" class="alphanum" id="gate_purpose" name="gate_purpose" /></th>

                        </tr>
                        <tr>
                            <th>gate reader id</th>
                            <th><input type="text" id="gate_reader_id" name="gate_reader_id" /></th>

                        </tr>


                        <tr>
                            <th>

                            </th>
                            <th>
                                <input type="submit" value="save" />
                            </th>
                        </tr>
                    </table>

</tbody>
</table>
</div>




    </body>
</html>
