﻿@model IEnumerable<jindal.Models.usertypeclass>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewusertype</title>
</head>
<body>
    <a href="../Reassure/insusertype">create new</a>
    <div>
        <table>
            <thead>
                <tr>
                    <th>assaign_type</th>
                    <th>company_id</th>
                    <th>active</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var ttt in Model)
                {
                    <tr>

                        <td>@ttt.assaign_type</td>
                        <td>@ttt.company_id</td>
                        <td>@ttt.active</td>

                    </tr>
                }
                @using (Html.BeginForm("aaa", "Reassure", FormMethod.Post))
                {
                    <table>
                        <tr>
                            <th>assaign type</th>
                            <th><input type="text" class="alphanum" id="assaign_type" name="assaign_type" /></th>
                        </tr>
                        <tr>
                            <th>company id</th>
                            <th><input type="text"  id="company_id" name="company_id" /></th>

                        </tr>
                        <tr>
                            <th>active</th>
                            <th><input type="text" id="active" name="active" /></th>

                        </tr>


                        <tr>
                            <th>

                            </th>
                            <th>
                                <input type="submit" value="save" />
                            </th>
                        </tr>
                    </table>

                </tbody>
            </table>
        </div>















    </body>
</html>
