﻿@model IEnumerable<jindal.Models.rfiddetails>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewrfid</title>
    <style>
        h1{
            color:blue;
        }
        table{
            color:blue;
        }
    </style>
</head>
<body>
    <h1>RFID details</h1>
    <a href="../Reassureinsrfid">create new</a>


    <div>
        <table>
            <thead>
                <tr>
                    <th>company_id</th>
                    <th>rfid_tagid</th>
                    <th>rfid_issue_date</th>
                    <th>rfid_start_date</th>
                    <th>rfid_assaigned_type</th>
                    <th>rfid_assaigned_id</th>
                    <th>rfid_issued_by</th>

                    <th>active</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ooo in Model)
                {
                    <tr>

                        <td>@ooo.company_id</td>
                        <td>@ooo.rfid_tagid</td>
                        <td>@ooo.rfid_issue_date</td>
                        <td>@ooo.rfid_start_date</td>
                        <td>@ooo.rfid_assaigned_type</td>
                        <td>@ooo.rfid_assaigned_id</td>
                        <td>@ooo.rfid_issued_by</td>
                        
                        <td>@ooo.active</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
