﻿@model IEnumerable<jindal.Models.emptypeclass>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewemptype</title>
</head>
<body>
    <a href="../Reassure/insemptype">create new</a>
    <div>
        <table>
            <thead>
                <tr>
                    <th>emp_type</th>
                    <th>company_id</th>
                    <th>active</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var zzz in Model)
                {
                    <tr>

                        <td>@zzz.emp_type</td>
                        <td>@zzz.company_id</td>
                        <td>@zzz.active</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
