﻿@model IEnumerable<jindal.Models.Department>
@{
    ViewBag.Title = "AddDept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddDept</h2>
<script src="~/Scripts/java.js"></script>

@using (Html.BeginForm("AddDept", "Admin", FormMethod.Post))
{
    <div class="col-md-12">
        <div class="form-group">
            <div class="form-horizontal">Department Code</div>
            <div class="form-inline"><input type="text" class="integer" maxlength="5" value="" name="department_code" /></div>
        </div>
        <div class="form-group">
            <div class="form-horizontal">Department Name</div>
            <div class="form-inline"><input type="text" value="" class="alpha" name="department_name" /></div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" />
        </div>
    </div>
}

<br />
<div class="clearfix">

</div>
<div>
    <div class="col-md-12">
        <table style="width:100%" class="table-bordered">
            <thead>
                <tr>
                    <th>Dept Code</th>
                    <th>Dept name</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.department_code
                            </td>
                            <td>
                                @item.department_name
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>