﻿@model jindal.Models.GenericLists
@{
    ViewBag.Title = "AddEmpDesg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddEmpDesg</h2>

<div class="col-md-12">
      @using (Html.BeginForm("","",FormMethod.Post))
      {
          <div class="form-group">
              <div >m
                  <span></span>
                  <select name="depatment_id">
                      @foreach(var item in Model.departments)
                      {
                          <option value="@item.department_id">@item.department_code</option>
                      }
                  </select>
              </div>

          </div>
      }
</div>