﻿@model jindal.Models.login
@{
    Layout ="~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/java.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>first</title>
</head>
<body>
    <div>
        <h1>@ViewBag.msg1</h1>
        @using (Html.BeginForm("first", "login", FormMethod.Post))
        {
            @Html.EditorFor(model => model.tag, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tag, "", new { @class = "text-danger" })
            <input type="submit" value="Create" class="btn btn-default" />
        }
    </div>
</body>
</html>
